In [1]:
import pandas as pd
import re
import numpy as np
import folium
from folium import plugins
import warnings  
warnings.simplefilter('ignore')

# Importing & merging the datasets

In [2]:
a = pd.read_csv('Square1.csv')
b = pd.read_csv('Square2.csv')
c = pd.read_csv('Square3.csv')
d = pd.read_csv('Square4.csv')
e = pd.read_csv('Square5.csv')
f = pd.read_csv('Square6.csv')
g = pd.read_csv('Square7.csv')
h = pd.read_csv('Square8.csv')
i = pd.read_csv('Square9.csv')
j = pd.read_csv('Square10.csv')
k = pd.read_csv('Square21.csv')
l = pd.read_csv('Square22.csv')
m = pd.read_csv('Square23.csv')
n = pd.read_csv('Square24.csv')
o = pd.read_csv('Square25.csv')
p = pd.read_csv('Square26.csv')
q = pd.read_csv('Square27.csv')
r = pd.read_csv('Square28.csv')
s = pd.read_csv('Square29.csv')
t = pd.read_csv('Square30.csv')
u = pd.read_csv('Square31.csv')
v = pd.read_csv('Square32.csv')
w = pd.read_csv('Square33.csv')
x = pd.read_csv('Square34.csv')
y = pd.read_csv('Square35.csv')
z = pd.read_csv('Square36.csv')
aa = pd.read_csv('Square37.csv')
ab = pd.read_csv('Square38.csv')
ac = pd.read_csv('Square39.csv')
ad = pd.read_csv('Square49.csv')
ae = pd.read_csv('Square50.csv')
af = pd.read_csv('Square66.csv')
ag = pd.read_csv('Square79.csv')
ah = pd.read_csv('Scrapnight1_11_20.csv')
ai = pd.read_csv('Scrapnight2_40_48.csv')
aj = pd.read_csv('Scrapnight2_51_65.csv' ) 
ak = pd.read_csv('Scrapnight2_67_78.csv')

In [3]:
xx = pd.concat([a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,aa,ab,ac,ad,ae,af,ag,ah,ai,aj,ak], axis=0)

# Cleaning the data

### Defining cleaning functions (move to src)

In [4]:
def cleancords(punto):
    '''Clean coord columns as it comes from scrapping'''
    try:
        punto = punto[2:-2]
        esplit = punto.split(',')
        esplite = (float(esplit[0]),float(esplit[1]))
        kords.append(esplite)
    except:
        kords.append(np.nan)

def cleandescr(crip):
    '''
    Transform the data in descr column to create 4 new columns with the contained integers.
    Requires the four list that are to become columns to be previously initialized
    '''
    hue = 0
    dorm = 0
    cam = 0
    toil = 0
    
    cripa = crip.split('·')

    for i in cripa:
        if 'pedes' in i:
            guest.append(float(re.findall('\d+', i)[0]))
            hue = 1
        elif 'orio' in i:
            try:
                bedroom.append(float(re.findall('\d+', i)[0]))
                dorm = 1
            except:
                pass
        elif 'cama' in i:
            try:
                beds.append(float(re.findall('\d+', i)[0]))
                cam = 1
            except:
                pass
        elif 'año' in i:
            try:
                bathroom.append(float(re.findall('\d+|\d+\,\d+', i)[0].replace(',','.')))
                toil = 1
            except:
                pass
        elif 'aseo' in i:
            try:
                bathroom.append(float(re.findall('\d+|\d+\,\d+', i)[0].replace(',','.')))
                toil = 1
            except:
                pass
        elif 'udio' in i:
            try:
                bedroom.append(1.5)
                dorm = 1
            except:
                pass
    if cam == 0:
        beds.append(np.nan)
    if dorm == 0:
        bedroom.append(np.nan)
    if toil == 0:
        bathroom.append(np.nan)
    if hue == 0:
        guest.append(np.nan)


def cleanprice(plo):
    '''Function that cleans price column'''
    plo.replace('.','')
    plo = re.findall('\d+', plo)[0]
    prise.append(float(plo))

In [5]:
# initialize list for cleandescr
guest = []
bedroom = []
beds = []
bathroom = []
# initialize list for cleancords
kords = [] 
# initialize list for cleanprice
prise = []

### Drop duplicates

In [6]:
# Duplicate values are expected as a result of overlapping scrapping areas

boolean = xx['Unnamed: 0'].duplicated().any()
boolean

True

In [7]:
xx_nodup = xx.drop_duplicates(subset='Unnamed: 0')

In [8]:
# The duplicates have been deleted

boolean = xx_nodup['Unnamed: 0'].duplicated().any()
boolean

False

In [9]:
# Checking if indeed the duplicates have been deleted

xx_nodup['Unnamed: 0'].value_counts()

38311656    1
51745570    1
5454015?    1
47843521    1
54923029    1
           ..
53317380    1
11206643    1
54236995    1
53841343    1
55364387    1
Name: Unnamed: 0, Length: 10331, dtype: int64

In [10]:
#Renamig columns

xx_nodup.columns = ['Id', 'Title', 'url', 'descr', 'coord', 'price']

### Applying cleaning functions

In [11]:
#Applying cleaning funcs 

for e in list(xx_nodup.coord):
    cleancords(e)
for e in list(xx_nodup.descr):
    cleandescr(e)
for e in list(xx_nodup.price):
    cleanprice(e)

xx_nodup['Prices'] = prise
xx_nodup['Guest'] = guest
xx_nodup['Bedrooms'] = bedroom
xx_nodup['Beds'] = beds
xx_nodup['Bathroom'] = bathroom
xx_nodup['Spot'] = kords

In [12]:
# Dropping useless columns

xx_nodup.drop('price', axis=1, inplace=True)
xx_nodup.drop('coord', axis=1, inplace=True)
xx_nodup.drop('descr', axis=1, inplace=True)

### Exploring clean dataset

In [13]:
xxx = xx_nodup

In [14]:
xxx.sample(5)

,Id,Title,url,Prices,Guest,Bedrooms,Beds,Bathroom,Spot
23,32631303,Apto en San Andrés. Playa de Las Teresitas/Anaga,https://www.airbnb.es/rooms/32631303?adults=2&...,34.0,2.0,1.0,2.0,1.0,"(28.50401, -16.19234)"
1694,21223558,Dream House Desire - Island Village Tenerife Sur,https://www.airbnb.es/rooms/21223558?adults=2&...,216.0,6.0,2.0,4.0,2.0,"(28.0809, -16.7262)"
94,1120855?,"MASCA, UNA HABITACIÓN CON VISTAS",https://www.airbnb.es/rooms/1120855?adults=2&c...,82.0,2.0,1.0,1.0,1.0,"(28.30317, -16.83688)"
914,40150102,Te damos la bienvenida a,https://www.airbnb.es/rooms/40150102?adults=2&...,41.0,2.0,1.0,2.0,1.0,"(28.40643, -16.53845)"
182,52845507,Retiro al atardecer en Magnolia Golf,https://www.airbnb.es/rooms/52845507?adults=2&...,173.0,6.0,2.0,4.0,2.0,"(28.10617, -16.75307)"

In [15]:
xxx.shape

(10331, 9)

In [16]:
xxx.describe()

             Prices         Guest      Bedrooms          Beds      Bathroom
count  10331.000000  10331.000000  10299.000000  10213.000000  10310.000000
mean      94.732456      4.092343      1.750753      2.695878      1.360621
std       88.849527      2.010811      1.001464      1.683989      0.803476
min        1.000000      2.000000      1.000000      1.000000      0.000000
25%       50.000000      3.000000      1.000000      2.000000      1.000000
50%       69.000000      4.000000      1.500000      2.000000      1.000000
75%      100.000000      5.000000      2.000000      3.000000      2.000000
max      999.000000     16.000000     16.000000     25.000000     16.000000

In [17]:
xxx = xxx.dropna(subset=['Spot'])

In [18]:
#xxx_blank = xxx[xxx['Spot'].isna()]
#xxx_blank.shape

In [19]:
print(xxx.shape)
xxx.to_csv('airbnb_clean.csv')

(9427, 9)

### Blank coordinates filling - scrap (project)

In [20]:
#xxx.Spot.unique

In [21]:
#import requests as req
#from bs4 import BeautifulSoup as bs
#import pandas as pd
#import json
#import time 
#from selenium import webdriver
#from selenium.webdriver.chrome.options import Options
#from webdriver_manager.chrome import ChromeDriverManager
#from selenium.webdriver.common.action_chains import ActionChains
#import time
#import re
#
#opciones=Options()
#
#opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
#opciones.add_experimental_option('useAutomationExtension', False)
#opciones.headless=False   
#opciones.add_argument('--start-maximized')         
##opciones.add_argument('user-data-dir=selenium')   
##opciones.add_extension('driver_folder/adblock.crx')       
#opciones.add_argument('--incognito')
#
##driver = "./chromedriver.exe"
##driver = webdriver.Chrome(driver,options = opciones)

In [22]:
#goodcoords = []
#
#for url in xxx_blank.url:
#    driver = "./chromedriver.exe"
#    driver = webdriver.Chrome(driver,options = opciones)
#    driver.get(url)
#    
#    time.sleep(4)
#    ###acccept cookies (extended)
#    try:
#        cookies = driver.find_element_by_xpath('/html/body/div[5]/div/div/div[1]/div/div[3]/section/div[2]/div[2]/button')
#        cookies.click()
#    except:
#        try:
#            cookies = driver.find_element_by_xpath('/html/body/div[5]/div/div/div[1]/div/div[2]/section/div[2]/div[2]/button')
#            cookies.click()
#        except:
#            try:
#                cookies = driver.find_element_by_xpath('/html/body/div[5]/div/div/div[1]/div/div[2]/section/div[2]/div[2]/button')
#            except:
#                pass
#    
#    
#    driver.execute_script("window.scrollTo(0, 3500)")
#    time.sleep(1)
#    google = driver.find_element_by_xpath('//*[@id="site-content"]/div/div[1]/div[5]/div/div/div/div[2]/section/div[3]/div[3]/div[2]/div/div/div[14]/div/a/div/img')
#    google.click()
#    elems = driver.find_elements_by_xpath("//a[@href]")
#    links = []
#    for elem in elems:
#        if 'maps' in str(elem.get_attribute("href")):
#            links.append(str(elem.get_attribute("href")))       
#            strmap = '-'.join(links)
#            print(strmap)
#            coordinates = re.findall('\d{2}\.\d+\,\-\d{2}\.\d+', strmap)
#            print(coordinates)
#            goodcoords.append(coordinates)